@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 0 8rem;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(0, 0%, 89%);
    justify-content: space-between;
    nav ul, .logo {
        display: flex;
        gap: 20px;
        color: hsl(219, 9%, 45%);
        margin-right: 35%;
        list-style: none;
        
        cursor: pointer;
    }
    img{
        width: 40px;
    }
    .icons{
        display: flex;
        align-items: center;
        gap: 40px;
        cursor: pointer;
    }
}

section {
    display: flex;
    padding: 50px;
    gap: 20px;
}
.pic {
    width: 400px;
    border-radius: 10px;
}

.thumbnail {
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    cursor: pointer;
    img{
        width: 80px;
        border-radius: 10px;
    }
    .img1_active{
        border: 3px solid #FF7E1B;
        opacity: 60%;
    }
}

.right {
    padding: 50px;
    p{
        margin-bottom: 20px;
        color: hsl(219, 9%, 45%);
    }
    h1{
        font-size: 40px;
        margin-bottom: 40px;
    }
    
}
.price {
    display: flex;
    gap: 10px;
    p{
        background-color: black;
        color:  hsl(0, 0%, 100%);
        padding: 4px;
        font-weight: bolder;
        border-radius: 5px;
        font-size: smaller;
    }
}
p.strike{
    text-decoration: line-through;
}

.purchase {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.quantity {
    display: flex;
    gap: 30px;
    background-color: rgb(242, 246, 252);
    padding: 10px;
    margin-right: 10px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    flex: 1;
    font-weight: bolder;

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

button.add {
    background-color: #FF7E1B;
    font-weight: bolder;
    font-size: small;
    width: 66%;
    border-radius: 10px;
    outline: none;
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}